<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="refs" value="C:\Projects\ElaPlatformela\elalibrary\_ela\unsafe\;C:\Projects\ElaPlatformela\elalibrary\_ela\collections\;C:\Projects\ElaPlatformela\elalibrary\_ela\;C:\Projects\ElaPlatformela\bin"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
