<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <appSettings>
		<add key="ref" value="D:\Hosting\7431445\html\bin;D:\Hosting\7431445\html\bin\lib"/>
        <add key="prelude" value="Prelude"/>
		<add key="stdLib" value="elalib"/> 
    </appSettings>
</configuration>
 

