<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ref" value="C:\Projects\ElaPlatform\Ela\ElaLibrary\_ela\;C:\Projects\ElaPlatform\ela\bin\;C:\Projects\ElaPlatform\Ela\Tests\Unit\;C:\Projects\ElaPlatform\Ela\Tests\Espec\;"/>
    <add key="prelude" value="prelude"/>
  </appSettings>
</configuration>
