<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="refs" value="c:\projects\elaplatform\ela\elalibrary\_ela\unsafe\;c:\projects\elaplatform\ela\elalibrary\_ela\collections\;c:\projects\elaplatform\ela\elalibrary\_ela\;C:\Projects\ElaPlatform\ela\bin"/>
  </appSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath=".\ela\bin"/>
      </assemblyBinding>
    </runtime>

  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
