<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ref" value="C:\Projects\ElaPlatform\Ela\StandardLibrary\Code\;C:\Projects\ElaPlatform\Ela\bin\;C:\Projects\ElaPlatform\Ela\tests\"/>
    <add key="stdLib" value="elalib"/>
    <add key="prelude" value="prelude"/>
  </appSettings>
</configuration>
