<configuration>
    <system.web>
        <customErrors mode="Off" />
        <compilation>
		 <assemblies>
            <add assembly="Eladoc"/>
          </assemblies>
        </compilation>
    </system.web>
    <appSettings>
		<add key="ref" value="D:\Hosting\7431445\html\bin;D:\Hosting\7431445\html\bin\lib"/>
        <add key="prelude" value="Prelude"/>
		<add key="stdLib" value="elalib"/>
        <add key="lastRelease" value="2013.3"/>
        <add key="lastReleaseUrl" value="https://ela.codeplex.com/releases/view/112881"/>
    </appSettings>
</configuration>
 

