<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ref" value="C:\WORKSPACE\Projects\_MSA_EXT\ela\Ela\ElaLibrary\_ela;C:\WORKSPACE\Projects\_MSA_EXT\ela\Ela\bin"/>
    <add key="prelude" value="prelude"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
