<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ref" value="C:\WORKSPACE\Projects\_MSA_EXT\ela\Ela\ElaLibrary\_ela;C:\WORKSPACE\Projects\_MSA_EXT\ela\Ela\bin"/>
    <!--add key="ref" value="C:\Projects\ElaPlatform\Ela\ElaLibrary\_ela\;C:\Projects\ElaPlatform\ela\bin\;C:\Projects\ElaPlatform\Ela\Tests\Unit\;C:\Projects\ElaPlatform\Ela\Tests\Espec\"/-->
    <add key="prelude" value="prelude"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
