<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ref" value="C:\WORKSPACE\Projects\elalang\Ela\ElaLibrary\_ela\;C:\WORKSPACE\Projects\elalang\ela\bin\;C:\WORKSPACE\Projects\elalang\Ela\Tests\Unit\;C:\WORKSPACE\Projects\elalang\Ela\Tests\Espec\;"/>
    <add key="prelude" value="prelude"/>
  </appSettings>
</configuration>
